<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='login.js') }}"></script>

</head>
<body>
 <section class="login-form">
    <h1>ASK THE MOON</h1>
      {% if isuser|length %}
             <span><h2>USER ID:{{userid}}</h2></span>
             <span><h2>USER NICKNAME:{{usernick}}</h2></span>
             <span><h2>USER EMAIL:{{useremail}}</h2></span>
              <div class="btn-area">
            <button type="submit" onclick="location.href='/new'">GO HOME</button></a></form>

       {% else %}
            <button type="submit" onclick="location.href='/'">Login agin</button></a></form>

            </div>
         
      
   </section>
   <script>

   </script>
   </body>
   </html>

